<IfModule mod_rewrite.c>
    RewriteEngine On
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [L,QSA]
</IfModule>

# Zona horaria Colombia para todos los archivos PHP
<IfModule mod_php.c>
    php_value date.timezone "America/Bogota"
</IfModule>
<IfModule mod_php7.c>
    php_value date.timezone "America/Bogota"
</IfModule>
<IfModule mod_php8.c>
    php_value date.timezone "America/Bogota"
</IfModule>
